name: AlGDock Regression Test

on:
  push:
    branches:
      - bxie4

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Docker
        run: docker images

      # TODO: Build Docker image based on the latest code and dependencies
#      - name: Build Docker image
#        run: |
#          docker build -t THIS_WILL_BE_A_DOCKER_IMAGE:${{ github.sha }} .

      # TODO: Run test in Docker
#      - name: Run tests in Docker
#        run: |
#          docker run THIS_WILL_BE_A_DOCKER_IMAGE:${{ github.sha }} python BPMF.py


      # TODO: To achieve above step,
      # 1. Create a Dockerfile
      # 2. Setup docker to copy the latest code from repo into the image during the build

      #------------------------------------
#      # Use the Miniconda base image
#      FROM continuumio/miniconda3
#
#      # Set the working directory in the container
#      WORKDIR /app
#
#      # Copy your environment.yml (for Conda) into the image
#      COPY environment.yml /app/
#
#      # Install the Conda environment
#      RUN conda env create -f environment.yml
#
#      # Ensure the conda environment is activated by default
#      RUN echo "source activate myenv" >> ~/.bashrc
#      ENV PATH /opt/conda/envs/myenv/bin:$PATH
#
#      # Copy the latest code from the repo into the image
#      COPY . /app
#
#      # Set the default command to run the app/script
#      CMD ["bash", "-c", "source activate myenv && python test.py"]
